section.section.section-inset-1(class=sectionBg)
	.container
		h2.text-center Our Partners
		hr
		.row
			// Owl Carousel
			.owl-carousel.owl-inset-20.owl-dots-offset-top-35.owl-carousel-fullheight(
			data-items='2'
			data-dotsEach='2'
			data-xs-items="3"
			data-xs-dotsEach='3'
			data-sm-items="4"
			data-sm-dotsEach='2'
			data-md-items="5"
			data-md-dotsEach='3'
			data-lg-items="6"
			data-lg-dotsEach='3'
			data-stage-padding='15'
			data-loop='true'
			data-margin='30'
			data-mouse-drag="false"
			data-dots="true"
			)
				a.box-xl.box-flex.box-fullheight.box-hovered.bg-default(href="#")
					img.img-responsive.center-block(src="images//partner-1.png" alt="")
				a.box-xl.box-flex.box-fullheight.box-hovered.bg-default(href="#")
					img.img-responsive.center-block(src="images//partner-2.png" alt="")
				a.box-xl.box-flex.box-fullheight.box-hovered.bg-default(href="#")
					img.img-responsive.center-block(src="images//partner-3.png" alt="")
				a.box-xl.box-flex.box-fullheight.box-hovered.bg-default(href="#")
					img.img-responsive.center-block(src="images//partner-4.png" alt="")
				a.box-xl.box-flex.box-fullheight.box-hovered.bg-default(href="#")
					img.img-responsive.center-block(src="images//partner-5.png" alt="")
				a.box-xl.box-flex.box-fullheight.box-hovered.bg-default(href="#")
					img.img-responsive.center-block(src="images//partner-6.png" alt="")
				a.box-xl.box-flex.box-fullheight.box-hovered.bg-default(href="#")
					img.img-responsive.center-block(src="images//partner-1.png" alt="")

